.ui-base{
    background-color: cornflowerblue;
    font-size: 3rem;
    padding: 4rem 0;
    text-align: center
}

.ui-header{
    background-color: cornflowerblue;
    font-size: 3rem;
    padding: 1rem 0;
    text-align: center;
    font-size: 4rem;
}

.ui-header-small{
    background-color: cornflowerblue;
    padding: 4rem 0;
    text-align: center;
    font-size: 4rem;
}
