ul.toDoItem{
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 1rem;
}

ul.fun{
    background-color: lightcoral;
}

ul.home{
    background-color: lightskyblue;
}

ul.school{
    background-color: olivedrab;
}

ul.work{
    background-color: burlywood;
}

ul.health{
    background-color: yellow;
}