li.toDoItem{
    border: 3px solid black;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 1rem;
}

li.fun{
    border: 3px solid lightcoral;
}

li.home{
    border: 3px solid lightskyblue;
}

li.school{
    border: 3px solid olivedrab;
}

li.work{
    border: 3px solid burlywood;
}

li.health{
    border: 3px solid yellow;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

button{
    border-radius: 5px;
}

.delete{
    background-color: transparent;
    border: red solid 2px;
    padding: 0 0.3rem;
}

.edit{
    background-color: transparent;
    border: green solid 2px;
    padding: 0.4rem 0.6rem;
}