@use 'reboot';
@use 'header';
@use 'ui-button';
@use 'page-header';

body{
    background-color: rgb(212, 248, 242);
}

.button{
    background-color: rgb(167, 173, 150);
}

.dolphin{
    width: 50vw;
}